*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}




.container{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                     5px 5px 12px rgba(0,0 ,0,.16);
    display: grid;
    grid-template-columns:repeat(4 ,70px);
}

input{
    grid-column: span 4;
    padding: 15px;
    font-size: 50px;    
    font-weight: 500;
   width: 260px;
   height: 70px;
   border: none;
   background-color:#ecf0f3;
   box-shadow: inset -5px -5px 12px #ffffff,
   inset 5px 5px 12px rgba(0,0 ,0,0.16);
   border-radius: 30px;
   text-align: right;
   margin-top:20px ;
   margin-bottom:30px ;
   pointer-events: none;
   

}

button{
   
     border-radius: 50%;
     border: none;
     box-shadow: inset -5px -5px 12px #ffffff,
   5px 5px 12px rgba(0,0 ,0,0.16);
   width: 48px;
   height: 48px;
   margin: 8px;
   font-size: 16px;
   cursor:grabbing;
}
.equal{
    width: 120px;
    border-radius: 40px;
    box-shadow: inset -5px -5px 12px #ffffff,
   5px 5px 12px rgba(0,0 ,0,0.16);
   background-color:#ecf0f3;
}

.label{
    margin-top: 20px;
    padding-left: 10px;
    color:#5a5a5a;
    text-shadow: 6px 0px 9px rgba(3,3,3,0.45);
    font-size: 20px;
}
